-r requirements-mceditlib.txt
pyzmq  # v15.4.0 fails to freeze with PyInstaller - see pyinstaller/issues/2147
pyside6  # install this via homebrew, not visible to pip
pyopengl
ipython
qtconsole
pygments
pastebin
raven
