-r requirements-mceditlib.txt
pyzmq  # v15.4.0 fails to freeze with PyInstaller - see pyinstaller/issues/2147
pyside6
pyopengl
ipython
qtconsole
pygments
pastebin
raven

alabaster
py
pytest
# zlib
setuptools