-r requirements-mceditlib.txt
pyzmq  # v15.4.0 fails to freeze with PyInstaller - see pyinstaller/issues/2147
pyside6>=6.5.2
pyopengl>=3.1.9
ipython>=9.3.0
qtconsole>=5.6.1
pygments>=2.19.0
pastebin>=1.1.2
raven>=6.10.0

alabaster>=1.0.0
py>=1.11.0
pytest>=8.3.5
# zlib
setuptools>=80.9.0